---
---

@import "{{ site.theme }}";


.page-header {
  background-image:linear-gradient(360deg,#841617, #660000);
  padding-top:10px;
  padding-bottom: 10px;
}

.project-tagline  {
  margin: 0px;
}

.level {
  margin-top: 0px;
}

.main-content h1{
  color:#841617;
}

.main-content h2{
  color:#841617;
}

.main-content h3{
  color:#841617;
  text-align: left;
}

.page-footer{
  position: fixed;
  height: 120px;
  width: 100%;
  bottom: 0px;
  align-items: center;
}

.site-footer{
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #dedede;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.dsl-logo{
  text-align: center;
  float: left;
  width: 33%;
  height: 120px;
}

.righttwocolumns{
  
  width: 67%;
  height: 120px;
  float: right;
}

.footercredits{
 
  text-align: center;
  width: 50%;
  height: 120px;
  float: left;
  vertical-align: center;
}


.libraries-logo{
  text-align: center;
  width: 50%;
  height: 120px;
  float: right;
}

a:link{
  color: #2378aa;  
}

a:hover{
  color: #880000;
}

.maincontent img{
  display:block;
  margin-top: 10px!important;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  padding: 3px;
  box-shadow:2px 2px 3px #888888;
}

.level {
  font-weight: normal;
  opacity: .7;
  font-size: 1.15rem;
  
}
