---
---

@import "{{ site.theme }}";


.page-header {
  background-image: linear-gradient(120deg, #880000, #a50000);  padding-top:10px;
  padding-bottom: 10px;
  color: #dedede;
  font-family: 'Open Sans Condensed', sans-serif;
}

.project-tagline  {
  margin: 0px;
  color: #dedede;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  opacity: 1;
}

.level {
  margin-top: 0px;
}

.main-content{
   font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 120px;
}

.main-content h1{
  color:#841617;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.main-content h2{
  color:#841617;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.main-content h3{
  color:#841617;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.main-content h4{
  color:#841617;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.page-footer{
  position: fixed;
  height: 120px;
  width: 100%;
  bottom: 0px;
  align-items: center;
  
}

.site-footer{
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #dedede;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dsl-logo{
  text-align: right;
  float: left;
  width: 33%;
  height: 120px;
}

.righttwocolumns{ 
  width: 67%;
  height: 120px;
  float: right;
}

.footercredits{
  text-align: center;
  width: 50%;
  height: 120px;
  float: left;
  vertical-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}


.libraries-logo{
  text-align: left;
  width: 50%;
  height: 120px;
  float: right;
  padding-left: 10px;
}

.libraries-logo img{
  background-image: url(../../images/ou_lib_logo100.png);
  text-align: left;
  text-indent: -9999px;
  
  
}

a:link{
  color: #2378aa;  
}

a:hover{
  color: #880000;
}

.maincontent img{
  display:block;
  margin-top: 10px!important;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  padding: 3px;
  box-shadow:2px 2px 3px #888888;
}

.level {
  font-size: 1.15rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #dedede;
  font-weight: bold;
}

@media screen and (max-width: 1511px) { .libraries-logo img{ background-image: url(../../images/OULogoIcon.png); background-repeat: no-repeat;} }
